body {
  /* text-align: center; */
  margin : 0px 27%;
  background: #f0f0f0;
  font-family: sans-serif;
}

#stage {
  position: relative;
  display: inline-block;
   top: 0;
  left: 0;
}

canvas {
  position: absolute;
 touch-action: none;
}
#mobile-controls {
    position:absolute; bottom:10px; left:50%;
    transform:translateX(-50%);
    display:flex; gap:10px;
  }
  #mobile-controls button {
    width:60px; height:60px; font-size:24px; border-radius:10px;
    border:none; background:rgba(255,255,255,0.6); color:#000;
  }
  .btns { text-align: center; margin-top: 10px; }
  .btns button { font-size: 18px; margin: 5px; padding: 10px 20px; }